*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #2b2b2c;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.2em;
    padding: 30px;
    margin: 10px;
    width: 100%;
}
header{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
}
nav{
    font-size: 25px;
}
nav ul{
    border: 1px solid #163172;
    max-height: 200px;
    overflow: auto;
}
nav ul li{
    border-bottom: 1px ridge #444;
    list-style: none;
    margin-left: 0;
    border: 1px solid #fff;
    border-radius: 3px;
}
nav ul li a{
    text-decoration: none;
    color: #163172;
}
a:hover{
    background-color: #163172;
    color: #fff;
}
pre{
    background-color:#444;
    color: #fff;
    overflow: scroll;
    max-width: 100%;
}
code{
    background-color: #444;
    color: #fff;
}
p{
    letter-spacing: 0.1em;
    margin-bottom: 5px;
}
#introduction h2{
    margin-bottom: 4px;
    font-size: 1.6em;
}
img{
    max-width: 100%;
}
.dom-image{
    background-color: #fff;
    text-align: center;
    color: #000;
}
figure{
    background-color: #444;
    color: #fff;
    width: 100%;
}
figcaption{
    font-weight: bold;
}
li{
    margin-left: 50px;
}
span{
    background-color: #111111;
    color: #fff;
}
 article h3 p{
     margin: 5px;
 }
 footer p{
     background-color: #163172;
     text-align: center;
     padding: 10px;
     letter-spacing: 2px;
     color: #fff;
 }
 footer p a{
    text-decoration: none;
    color: #fff;
 }
 footer p a:hover{
     font-size: 1.5rem;
     border-bottom: 4px solid #fff;
 }
 .dl1,.dl2{
     margin-bottom: 20px;
 }
 dl{
     margin-left: 15px;
 }
 dd{
     margin-left: 5px;
 }
 ol li{
     margin-bottom: 20px;
 }
 .table-browser,.table,.radio-example{
    padding: 10px;
    margin: 10px;
    border: 2px solid #444;
    margin: 0 auto;
    width: 50%;
 }
 .form-table,.input-example{
     padding: 10px;
     margin: 5px;
     border: 2px solid #444;
 }
 .lists{
     font-weight: bold;
 }
 @media only screen and (min-width:789px){
    body{
        display: block;
    }
    nav{
        position: fixed;
        left: 0;
        top: 0;
        overflow-x: hidden;
        width: 360px;
        height: 100vh;
        z-index: 1;
        min-width: 290px;
        padding-top: 20px;
    }
    nav ul{
        min-height: 100%;
    }
    nav ul li{
        margin-bottom: 20px;
        font-size: 27px;
        display: block;
    }
    main,footer{
        margin-left: 400px;
        padding: 0 10px;
    }
 }